p#notice = notice

p
  strong Descricao:
  = @unidade.descricao

= link_to 'Editar', edit_unidade_path(@unidade), class: 'btn btn-info btn-sm'
'|
= link_to 'Voltar', unidades_path, class: 'btn btn-info btn-sm'
